<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Inventario</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">App inventario</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}">Inicio</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container test-center">
		<div>
			<h3 th:if="${producto.id == null}">Añadir un Producto</h3>
			<h3 th:unless="${producto.id == null}">Editar producto</h3>
			<form th:action="@{/productos/guardar}" th:object="${producto}" method="post"
				style="max-width:600px; margin: 0 auto;">
				<input type="hidden" th:field="*{id}" th:value="${producto.id}" />
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-sm-4">Producto:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{nombre}" class="form-control" required>
						</div>
					</div>
					<br />
					<div class="form-group row">
						<label class="col-form-label col-sm-4">Precio:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{precio}" class="form-control" required>
						</div>
					</div>
					<br />
					<div class="form-group row">
						<label class="col-form-label col-sm-4">Categoria:</label>
						<div class="col-sm-8">
							<select th:field="*{categoria}" class="form-control" require>
								<th:block th:each="categoria:${listaCategorias}">
									<option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
								</th:block>

							</select>
						</div>
					</div>
					<br /><br />
					<!--Cargamos los detalles-->
					<div>
						<th:block th:unless="${producto.id == null}" th:each="detalle, status : ${producto.detalles}">
							<input type="hidden" name="detallesID" th:value="${detalle.id}">
							<div class="form-group row">
								<label>Detalles #[[${status.count}]] : </label>
								<div class="col-sm-4">
									<input type="text" name="detallesNombre" th:value="${detalle}" class="form-control"
										required>
								</div>
								<div class="col-sm-4">
									<input tpe="test" name="detallesValor" th:value="${detalle.valor}"
										class="form-control" required>
								</div>
							</div>
						</th:block>
						<!-- Se agregan los detalles -->
						<th:block th:if="${producto.id == null}">
							<div class="form-group row">
								<label>Detalles #1 </label>
								<div class="col-sm-4">
									<input type="text" name="detallesNombre" class="form-control" placeholder="Nombre"
										required>
								</div>
								<div class="col-sm-4">
									<input tpe="test" name="detallesValor" class="form-control" placeholder="valor"
										required>
								</div>
							</div>
							<div class="form-group row">
								<label>Detalles #2 </label>
								<div class="col-sm-4">
									<input type="text" name="detallesNombre" class="form-control" placeholder="Nombre"
										required>
								</div>
								<div class="col-sm-4">
									<input tpe="test" name="detallesValor" class="form-control" placeholder="valor"
										required>
								</div>
							</div>
							<div class="form-group row">
								<label>Detalles #2 </label>
								<div class="col-sm-4">
									<input type="text" name="detallesNombre" class="form-control" placeholder="Nombre"
										required>
								</div>
								<div class="col-sm-4">
									<input tpe="test" name="detallesValor" class="form-control" placeholder="valor"
										required>
								</div>
							</div>
						</th:block>

					</div>
					<div>
						<button type="submit" class="btn btn-primary">Registrar</button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>